<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>How I Met Your Mother</title>
		<meta name="description" content="This is the advertisement poster for the tv series How I Met Your Mother.">
        <!-- <link rel="stylesheet" id="main-css" href="css/style.css" type="text/css" media="all" /> -->
        <style>
			*
			{
				margin: 0;
				padding: 0;
			}
        </style>
	</head>
	<body>
        <div class="main-wrapper">
            <img src="/images/himym.jpg"/>
        </div>
	</body>
</html>
